* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #fbfbf9;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container img {
    color: #fbfbf9;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    padding-left: 40px;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}

.navigation a:last-child {
    padding-right: 50px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    color: rgb(123, 123, 123);
}


.banner-content {
    clear: both;
    font-size: 22px;
}

.banner-content .text {
    padding-top: 100px;
    padding-left: 50px;
    /* overflow: auto; */
}


.banner-content .tagline {
    padding-top: 100px;
    color: rgb(25, 125, 188);
    padding-left: 50px;
}


.text-content {
    float: left;
    width: 45%;
    height: 660;
}

.img-content {
    float: right;
    width: 55%;
    height: 660;
    overflow: hidden;
}

.use_content {
    clear: both;
}

h2 {
    padding: 60px 0;
    text-align: center;
    font-size: 42px;
}

.use_content .video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 60px;
}

hr {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px dashed rgb(123, 123, 123);
}

.vision {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.vision .text {
    font-size: 20px;
}

#btn {
    font-size: 20px;
    padding: 15px 20px;
    background-color: #008CBA;
    color: white;
    border-color: white;
    border-radius: 8px;
}

.footer-tagline {
    background-color: white;
    border: 2px solid rgb(123, 123, 123);
    width: fit-content;
    padding: 2px 10px;
    color: rgb(123, 123, 123);
}

.footer {
    background-color: #fbfbf9;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer .footer-left {
    width: 40%;
    /* border-right: 2px dashed lightgray; */
    /* padding-right: -100px;
    margin-right: 100px; */
}

.footer .footer-center {
    width: 35%;
    /* margin-left: 30px; */
}

.footer .footer-center p {
    display: inline-block;
}

.footer .footer-menu {
    clear: both;
    color: #8f9296;
}

.footer .footer-menu h4 {
    padding-bottom: 5px 0;
}

.footer .footer-menu .left {
    float: left;
    color: black;
}

.footer .footer-menu .left p {
    padding: 5px 0;
}

.footer .footer-menu .right {
    float: right;
    padding-right: 55%;
    color: black;
}

.footer .footer-menu .right p {
    padding: 5px 0;
}

.footer .footer-right {
    width: 20%;
    color: #8f9296;
}

.footer .footer-icons {
    margin-top: 15px;
}

.footer .footer-icons a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(188, 188, 188);
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.bottom-footer {
    color: black;
    background-color: rgb(224, 224, 224);
    padding: 15px 0;
}